.bagde-area {
  font-size: 20px;
  vertical-align: middle;
}

.task-item {
  line-height: 40px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}

.task-item:hover {
  cursor: pointer;
}

.task-item-info {
  display: inline-block;
  margin-left: 5px;
}

.task-item-info-sub {
  font-size: 14px;
}

.task-item-info-sub label {
  display: block;
  height: 18px;
}