
.panel{
  height: 100%;
}

.panel-welcome-side{
  background: url('https://images.unsplash.com/photo-1533165635250-8dd62f4b8bf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80') no-repeat;
  height: 100%;
}

.btn-sign-up{
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 1em;
}
