.home-container {
  height: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}

.home-container-item {
  padding: 1em;
}

.site-main-section {
  height: 100% !important;
}

.bg-pic {
  background: url("./pic.jpg") no-repeat;
  background-size: cover;
}

.site-footer {
  background: #000;
  color: #fff;
}

.create-account-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}
