.border-spacing {
  font-family: sans-serif;

  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.border-spacing label {
  color: #000;
}

a:hover {
  text-transform: none !important;
  font-style: none;
}

.task-status-link {
  display: inline-block;
  margin-left: 5px;
}

.container-fluid,
.row,
.col {
  padding: 0px !important;
  margin: 0px !important;
}

.container-status {
  text-align: center;
}

.container-status-col {
  display: inline-block;
  padding: 5px;
  min-width: 33%;
  width: calc((900px - 100%) * 900);
  max-width: 100%;
  text-align: initial;
}
