.border-spacing {
  font-family: sans-serif;

  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.border-spacing label {
  color: #000;
}

a:hover {
  text-transform: none !important;
  font-style: none;
}

.task-status-link {
  display: inline-block;
  margin-left: 5px;
}

.container-fluid,
.row,
.col {
  padding: 0px !important;
  margin: 0px !important;
}

.container-status {
  display: flex;
  justify-content: space-around;
}

.container-status-col {
  width: 32%;
}
